.nav-bar{
    width: 100%;
    background-color: rgb(241, 241, 241);
    height: 35px;
    padding:0%;
    margin-top: -15px;
    display: flex;
}

.nav-home{
    padding-left:10px;
    padding-bottom: 10px;
    font-size: 13px;
}
.nav-accountone{
    margin-left: 1170px;
    padding-left: 10px;
    font-size: 13px;
}
.nav-accounttwo{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 13px;
}

.nav-mid{
    display: flex;
}
.nav-logo{
    width: 10%;
    
}
.nav-slogan{
    margin-left: 550px;
    padding-top: 10px;
}
.search-bar{
    border: none;
    border-radius: 30px;
    background-color: rgb(241, 241, 241);
    margin-left: 400px;
    margin-top: 25px;
    width: 150px;
    height: 30px;
    padding: 4px;
}
.post-header{
    height: 70px;
    background-color: rgb(241, 241, 241);
    padding-top: 0.25px;
}
.post-title{
    font-size: 16px;
    margin-left: 670px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.post-titletwo{
    font-size: 14px;
    margin-left: 720px;
    margin-top: -2px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerimg{
    width: 100%;
    height: 600px;
}

.final-title{
    margin-left: 700px;
    text-decoration:solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    font-style: italic;
}
.final-titletwo{
    margin-top: 20px;
    font-size: 45px;
    margin-left: 500px;
    
}

.nike-photos{
    display: flex;
}
.skateboard{
    width: 500px;
}
.surf{
    width: 500px;
}
.bowshoes{
    width: 500px;
}

.exp-title{
    margin-left: 600px;
    margin-top: 20px;
    font-size: 45px;
}
.exp-titletwo{
    margin-left: 700px;
    
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.my-photosone{
    display: flex;
    margin-top: 30px;
}
.p-one{
    width: 500px; 
    height: 500px; 
    object-fit: cover; 
}
.my-photostwo{
    display: flex;
}